header {
  background: #343b40;
  height: 50px;
  padding: 0 0 0 25px;
}
.logo {
  color: #90ee90;
  font: 42px/50px 'Architects Daughter', cursive;
  text-decoration: none;
  float: left;
}

.timeline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  height: 110px;
  padding: 0 100px 0 0;
}
.create-slideshow {
  position: absolute;
  right: 5px;
  top: 10px;
  height: 90px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.create-slideshow:before {
  content: "\f03f";
  font-family: 'icon-font';
  font-size: 90px;
  color: #5c6bc0;
}
.frame-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  white-space: nowrap;
  overflow: auto;
}
.frame-list__item {
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
  width: 130px;
  height: 80px;
  overflow: hidden;
  margin: 5px;
  position: relative;
  -webkit-animation: create 0.1s;
  animation: create 0.1s;
}
.frame-list__item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 3px 4px;
  width: 100%;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.frame-list__item:hover .frame-list__item-title {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.frame-list__item img {
  min-width: 100%;
  vertical-align: top;
  min-height: 100%;
}
@-webkit-keyframes create {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes create {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.album-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 11px;
}
.album-list_size_p {
  font-size: 13px;
}
.album-list_size_q {
  font-size: 16px;
}
.album-list__item {
  float: left;
  width: 130px;
  height: 80px;
  overflow: hidden;
  margin: 5px;
  position: relative;
  -webkit-animation: create 0.1s;
  animation: create 0.1s;
}
.album-list__item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 3px 4px;
  width: 100%;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.album-list__item:hover .album-list__item-title {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.album-list__item img {
  min-width: 100%;
  vertical-align: top;
  min-height: 100%;
}
.album-list_size_p .album-list__item-title {
  padding: 5px 7px;
}
.album-list_size_q .album-list__item-title {
  padding: 7px 10px;
}
.album-list_size_p .album-list__item {
  width: 200px;
  height: 130px;
  margin: 7px;
}
.album-list_size_q .album-list__item {
  width: 320px;
  height: 210px;
  margin: 10px;
}
@-webkit-keyframes create {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes create {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.photo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 11px;
}
.photo-list_size_p {
  font-size: 13px;
}
.photo-list_size_q {
  font-size: 16px;
}
.photo-list__item {
  float: left;
  width: 130px;
  height: 80px;
  overflow: hidden;
  margin: 5px;
  position: relative;
  -webkit-animation: create 0.1s;
  animation: create 0.1s;
}
.photo-list__item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 3px 4px;
  width: 100%;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.photo-list__item:hover .photo-list__item-title {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.photo-list__item img {
  min-width: 100%;
  vertical-align: top;
  min-height: 100%;
}
.photo-list_size_p .photo-list__item-title {
  padding: 5px 7px;
}
.photo-list_size_q .photo-list__item-title {
  padding: 7px 10px;
}
.photo-list_size_p .photo-list__item {
  width: 200px;
  height: 130px;
  margin: 7px;
}
.photo-list_size_q .photo-list__item {
  width: 320px;
  height: 210px;
  margin: 10px;
}
@-webkit-keyframes create {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes create {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.player:-webkit-full-screen {
  width: 100%;
  background: #000;
  text-align: center;
}

.player:-moz-full-screen {
  width: 100%;
  background: #000;
  text-align: center;
}

.player:-ms-fullscreen {
  width: 100%;
  background: #000;
  text-align: center;
}

.player:fullscreen {
  width: 100%;
  background: #000;
  text-align: center;
}

.player:-webkit-full-screen canvas {
  width: 100%;
  max-height: 100%;
  vertical-align: top;
}

.player:-moz-full-screen canvas {
  width: 100%;
  max-height: 100%;
  vertical-align: top;
}

.player:-ms-fullscreen canvas {
  width: 100%;
  max-height: 100%;
  vertical-align: top;
}

.player:fullscreen canvas {
  width: 100%;
  max-height: 100%;
  vertical-align: top;
}

@font-face {
  font-family: 'icon-font';
  src: url("../fonts/Material-Design-Iconic-Font.eot?v=1.0.1");
  src: url("../fonts/Material-Design-Iconic-Font.eot?#iefix&v=1.0.1") format('embedded-opentype'), url("../fonts/Material-Design-Iconic-Font.woff?v=1.0.1") format('woff'), url("../fonts/Material-Design-Iconic-Font.ttf?v=1.0.1") format('truetype'), url("../fonts/Material-Design-Iconic-Font.svg?v=1.0.1#Material-Design-Iconic-Font") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}
