.audio-selector {
  float: right;
  margin-left: 20px;
  width: 280px;
  position: relative;
}
.audio-selector__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}
.audio-selector__filter {
  position: absolute;
  right: 3px;
  top: 16px;
  font-size: 14px;
  width: 46px;
  height: 26px;
  padding: 0 3px 0 5px;
  border: 1px solid #388e3c;
  outline: none;
  box-shadow: none;
  transition: width 0.15s, box-shadow 0.15s;
  z-index: 3;
}
.audio-selector__filter::-webkit-input-placeholder {
  color: #388e3c;
}
.audio-selector__filter::-moz-placeholder {
  color: #388e3c;
}
.audio-selector__filter:-ms-input-placeholder {
  color: #388e3c;
}
.audio-selector__filter::placeholder {
  color: #388e3c;
}
.audio-selector__filter:focus {
  width: 120px;
  box-shadow: -3px 0 12px rgba(0,0,0,0.5);
}
.audio-selector .section__header {
  padding-left: 5px;
}
.audio-list {
  margin: 0;
  letter-spacing: normal;
  position: absolute;
  top: 56px;
  bottom: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.audio-list__item {
  position: relative;
  padding: 5px 40px 5px 27px;
  border-top: 1px solid #ccc;
  transition: background-color 0.07s;
  background: none;
  height: 16px;
  cursor: pointer;
}
.audio-list__item:first-child {
  border: none;
}
.audio-list__item:hover {
  background: #d3d3d3;
}
.audio-list__item.selected {
  background: #c8e6c9;
}
.audio-list__toggle {
  position: absolute;
  right: 3px;
  top: 0;
  border: none;
  text-align: center;
  padding: 4px;
  transition: opacity 0.1s;
  cursor: pointer;
  outline: none;
  opacity: 0;
  z-index: 1;
  background: none;
}
.audio-list__toggle:before {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #388e3c;
  color: #fff;
  content: "\f0fb";
  display: block;
  font-family: 'icon-font';
  font-size: 18px;
}
.audio-list__item.selected .audio-list__toggle:before {
  content: "\f102";
  color: #fff;
  background-color: #d32f2f;
}
.audio-list__item:hover .audio-list__toggle,
.audio-list__item.selected .audio-list__toggle {
  opacity: 1;
  z-index: 2;
}
.audio-list__duration {
  position: absolute;
  right: 5px;
  top: 5px;
  margin-left: 5px;
  opacity: 1;
  transition: opacity 0.1s;
  z-index: 2;
  font-size: 12px;
}
.audio-list__item.selected .audio-list__duration,
.audio-list__item:hover .audio-list__duration {
  opacity: 0;
  z-index: 1;
}
.audio-list__name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
.audio-list__play {
  border: none;
  text-align: center;
  position: absolute;
  background: none;
  left: 0;
  top: 0;
  padding: 4px;
  outline: none;
}
.audio-list__play:before {
  border-radius: 2px;
  background: #388e3c;
  width: 17px;
  height: 18px;
  line-height: 20px;
  color: #fff;
  content: "\f0b9";
  display: block;
  font-family: 'icon-font';
  font-size: 15px;
}
.audio-list__play.played:before {
  content: "\f0b6";
}

.dialog {
  position: absolute;
  left: 50%;
  margin-left: -320px;
  width: 640px;
  background: #fff;
  top: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.dialog-holder {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
}
.dialog__header {
  border-bottom: 1px solid #b6b6b6;
  padding: 7px 50px 7px 25px;
  margin-bottom: 20px;
}
.dialog__content {
  padding: 0 25px 20px;
}
.dialog__title {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: normal;
}
.dialog__close {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: none;
  margin: 0;
  padding: 5px;
}
.dialog__close:before {
  display: block;
  color: #d32f2f;
  content: "\f29a";
  font-size: 30px;
  font-family: 'icon-font';
}
.dialog__close_video {
  right: -35px;
  top: 5px;
  padding: 0;
}
.dialog__close_video:before {
  color: #fff;
  text-shadow: 0 1px 2px #000;
}

.header {
  background: #795548;
  height: 50px;
  padding: 0 0 0 25px;
  margin-bottom: 10px;
}
.header__user {
  float: right;
  padding: 13px 20px;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
}
.logo {
  color: #fff;
  font: 34px/50px 'Lobster', cursive;
  text-decoration: none;
  letter-spacing: 2px;
  float: left;
  margin-right: 50px;
  text-shadow: 1px 1px 1px #000;
}

.panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #795548;
  height: 90px;
  padding: 0 45px 0 70px;
}
.panel__btns {
  position: absolute;
  z-index: 10;
  box-shadow: -1px 0 2px rgba(0,0,0,0.6);
  right: 0;
  top: 0;
  bottom: 0;
  width: 45px;
  background: rgba(0,0,0,0.5);
  text-align: center;
}
.panel__photo-count:before {
  content: "\f23e";
  font-family: "icon-font";
  font-size: 20px;
  float: right;
  margin-left: 5px;
}
.panel__duration:before {
  content: "\f11f";
  font-family: "icon-font";
  font-size: 20px;
  float: right;
  margin-left: 5px;
}
.panel__info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0,0,0,0.6);
  box-shadow: 1px 0 2px rgba(0,0,0,0.6);
  padding: 5px 2px 0 0;
  width: 68px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}
.panel__info-row {
  margin-bottom: 7px;
}
.create-slideshow {
  height: 45px;
  width: 45px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.create-slideshow:before {
  content: "\f246";
  font-family: 'icon-font';
  font-size: 45px;
  color: #fff;
}
.open-settings {
  height: 45px;
  width: 45px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.open-settings:before {
  content: "\f060";
  font-family: 'icon-font';
  font-size: 35px;
  color: #fff;
}
.frame-list {
  margin: 0;
  padding: 0 22px 0 23px;
  list-style: none;
  font-size: 0;
  z-index: 4;
  position: relative;
  height: 90px;
  float: left;
}
.frame-list__wrap {
  overflow: auto;
  white-space: nowrap;
  position: relative;
}
.frame-list__prev,
.frame-list__next {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  outline: none;
  z-index: 5;
  cursor: pointer;
  background: #4caf50;
  box-shadow: 1px 0 1px rgba(0,0,0,0.6);
  opacity: 1;
}
.frame-list__prev[disabled],
.frame-list__next[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}
.frame-list__prev:before,
.frame-list__next:before {
  display: block;
  content: "\f236";
  font-size: 26px;
  font-family: 'icon-font';
  color: #fff;
}
.frame-list__next {
  right: 0;
  left: auto;
  box-shadow: -1px 0 1px rgba(0,0,0,0.6);
}
.frame-list__next:before {
  content: "\f237";
}
.frame-list__holder {
  overflow: hidden;
  height: 90px;
  position: relative;
}
.frame-list__item {
  display: inline-block;
  vertical-align: top;
  width: 130px;
  height: 80px;
  overflow: hidden;
  margin: 5px;
  position: relative;
  -webkit-animation: create 0.1s;
  animation: create 0.1s;
  cursor: pointer;
}
.frame-list__item:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  font-size: 50px;
  text-align: center;
  font-family: 'icon-font';
  opacity: 0;
  transition: opacity 0.1s;
  content: "\f102";
  color: #d32f2f;
  line-height: 80px;
}
.frame-list__item:hover:after {
  opacity: 1;
}
.frame-list__item img {
  width: 100%;
  vertical-align: top;
}
.frame-placeholder {
  display: inline-block;
  vertical-align: top;
  width: 130px;
  height: 80px;
  margin: 5px;
  position: relative;
  -webkit-animation: create 0.1s;
  animation: create 0.1s;
  background: rgba(0,0,0,0.5);
}
.frame-placeholder:after {
  content: "\f23e";
  font-family: "icon-font";
  font-size: 55px;
  line-height: 80px;
  text-align: center;
  display: block;
  color: rgba(255,255,255,0.35);
}
.frame-placeholders {
  position: absolute;
  top: 0;
  left: 23px;
  z-index: 1;
}
.panel-audios {
  margin: 0;
  padding: 0;
  color: #fff;
}
.panel-audios__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 26px;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  background: rgba(0,0,0,0.75);
  border-radius: 3px;
  -webkit-animation: add-audio 0.15s;
  animation: add-audio 0.15s;
}
.panel-audios__item:before {
  display: block;
  content: "\f1d5";
  font-family: 'icon-font';
  font-size: 18px;
}
.panel-audios__info {
  transition: opacity 0.15s ease;
  background: rgba(0,0,0,0.85);
  -webkit-animation: add-audio__info 3.5s;
  animation: add-audio__info 3.5s;
  white-space: nowrap;
  position: absolute;
  left: 100%;
  margin-left: 10px;
  top: 0;
  padding: 0 5px;
  border-radius: 3px;
  opacity: 0;
}
.panel-audios__info:after {
  content: '';
  border: 6px solid;
  border-color: transparent rgba(0,0,0,0.85) transparent transparent;
  position: absolute;
  left: -12px;
  top: 8px;
}
.panel-audios__item:hover .panel-audios__info {
  opacity: 1;
}
.panel-audios__name {
  float: left;
  margin-right: 10px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@-webkit-keyframes create {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes create {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes add-audio {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes add-audio {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes add-audio__info {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes add-audio__info {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.player:-webkit-full-screen {
  width: 100%;
  height: 100%;
  background: #000;
  text-align: center;
}

.player:-moz-full-screen {
  width: 100%;
  height: 100%;
  background: #000;
  text-align: center;
}

.player:-ms-fullscreen {
  width: 100%;
  height: 100%;
  background: #000;
  text-align: center;
}

.player:fullscreen {
  width: 100%;
  height: 100%;
  background: #000;
  text-align: center;
}
.player:-webkit-full-screen canvas {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.player:-moz-full-screen canvas {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
.player:-ms-fullscreen canvas {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
.player:fullscreen canvas {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.player {
  background: #000;
  position: relative;
  overflow: hidden;
}
.player canvas {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.player_no-activity {
  cursor: none;
}

.preview-modal__content {
  padding: 20px 25px;
  background: #f5f5f5;
}

.slideshow-list {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 10px;
}
.slideshow-list__item {
  float: left;
  width: 200px;
  height: 130px;
  overflow: hidden;
  margin: 5px;
  position: relative;
  -webkit-animation: create 0.1s;
  animation: create 0.1s;
}
.slideshow-list__item img {
  width: 100%;
  height: auto;
}
.slideshow-list__item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slideshow-list__item-title-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 0 4px;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
}
.slideshow-list__item-duration {
  float: right;
}
.slideshow-list__buttons {
  position: absolute;
  top: 0;
  margin-top: -40px;
  width: 100%;
  left: 0;
  text-align: center;
  transition: top 0.1s;
}
.slideshow-list__item:hover .slideshow-list__buttons {
  top: 50%;
}
.slideshow-list__button {
  display: inline-block;
  vertical-align: top;
  width: 34px;
  height: 34px;
  transition: top 0.1s, background 0.1s;
  box-shadow: 0 1px 1px rgba(0,0,0,0.8);
  border: none;
  padding: 0;
  margin: 0 4px;
  background: #388e3c;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  color: #fff;
  text-decoration: none;
}
.slideshow-list__button:hover {
  background: #4caf50;
}
.slideshow-list__button:active {
  box-shadow: 0 2px 3px #000 inset;
}
.slideshow-list__button:active:before {
  text-shadow: 0 0 1px rgba(0,0,0,0.8);
  top: 1px;
}
.slideshow-list__button:before {
  display: block;
  position: relative;
  line-height: 34px;
  font-size: 28px;
  font-family: 'icon-font';
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}
.slideshow-list__button_edit:before {
  font-size: 26px;
  content: "\f196";
}
.slideshow-list__button_show:before {
  content: "\f0bb";
}
.slideshow-list__button_share:before {
  content: "\f2dd";
}
.slideshow-list__button_remove {
  background: #d32f2f;
}
.slideshow-list__button_remove:hover {
  background: #dc5959;
}
.slideshow-list__button_remove:before {
  color: #fff;
  content: "\f102";
}

.tooltip {
  position: absolute;
  z-index: 102;
  color: #fff;
  background: rgba(0,0,0,0.85);
  padding: 5px;
  border-radius: 5px;
}

.breadcrumbs {
  margin: 0;
  padding: 7px 0 0;
  list-style: none;
}
.breadcrumbs__item {
  float: left;
  margin: 0 5px;
  font-size: 16px;
  line-height: 36px;
}
.breadcrumbs__link {
  display: block;
  color: #fff;
}
.breadcrumbs__link:before {
  content: '<- ';
}
.breadcrumbs__active {
  display: block;
  color: #212121;
}
.breadcrumbs__active:before {
  content: '<- ';
}
.breadcrumbs__item:first-child .breadcrumbs__link:before {
  display: none;
}

.grid-size-block {
  float: right;
  padding-left: 20px;
}
.grid-size {
  display: inline-block;
  border: none;
  color: #fff;
  background: #c8e6c9;
  transition: background 0.1s ease, box-shadow 0.05s ease;
  font-size: 14px;
  text-align: center;
  width: 30px;
  height: 25px;
  line-height: 25px;
  outline: none;
  margin: 0 2px;
  padding: 0;
  cursor: pointer;
  border-radius: 2px;
}
.grid-size:active {
  box-shadow: 0 1px 2px #000 inset;
}
.grid-size.active,
.grid-size:hover {
  background: #4caf50;
}

.album-list {
  margin: 0 -25px 0 0;
  padding: 0;
  list-style: none;
  font-size: 11px;
}
.album-list_size_p {
  font-size: 13px;
}
.album-list_size_q {
  font-size: 16px;
}
.album-list__buttons {
  position: absolute;
  top: 0;
  margin-top: -34px;
  width: 100%;
  left: 0;
  text-align: center;
  transition: top 0.1s;
}
.album-list__item:hover .album-list__buttons {
  top: 50%;
}
.album-list__button {
  display: inline-block;
  vertical-align: top;
  width: 34px;
  height: 34px;
  transition: top 0.1s, background 0.1s;
  border: none;
  padding: 0;
  margin: 0 8px;
  background: #388e3c;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  color: #fff;
  text-decoration: none;
}
.album-list__button:hover {
  background: #4caf50;
}
.album-list__button:active {
  box-shadow: 0 2px 3px #000 inset;
}
.album-list__button:before {
  display: block;
  line-height: 34px;
  font-family: 'icon-font';
}
.album-list__button_add:before {
  font-size: 34px;
  content: "\f0fb";
}
.album-list__button_open:before {
  font-size: 28px;
  content: "\f03f";
}
.album-list_size_p .album-list__buttons {
  margin-top: -45px;
}
.album-list_size_p .album-list__button {
  width: 45px;
  height: 45px;
  margin: 0 10px;
}
.album-list_size_p .album-list__button:before {
  line-height: 45px;
}
.album-list_size_p .album-list__button_add:before {
  font-size: 45px;
}
.album-list_size_p .album-list__button_open:before {
  font-size: 37px;
}
.album-list_size_q .album-list__buttons {
  margin-top: -55px;
}
.album-list_size_q .album-list__button {
  width: 55px;
  height: 55px;
  margin: 0 13px;
  border-radius: 5px;
}
.album-list_size_q .album-list__button:before {
  line-height: 55px;
}
.album-list_size_q .album-list__button_add:before {
  font-size: 55px;
}
.album-list_size_q .album-list__button_open:before {
  font-size: 45px;
}
.album-list__item {
  float: left;
  width: 130px;
  height: 80px;
  overflow: hidden;
  margin: 5px;
  position: relative;
  -webkit-animation: create 0.1s;
  animation: create 0.1s;
  background: #000;
  text-align: left;
}
.album-list__item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  padding: 0 4px;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
}
.album-list__item img {
  width: 100%;
  vertical-align: top;
  opacity: 1;
  transition: opacity 0.1s;
}
.album-list__item:hover img {
  opacity: 0.7;
}
.album-list_size_p .album-list__item-title {
  padding: 1px 7px 2px;
}
.album-list_size_q .album-list__item-title {
  padding: 3px 10px 4px;
}
.album-list_size_p .album-list__item {
  width: 200px;
  height: 130px;
  margin: 7px 16px;
}
.album-list_size_q .album-list__item {
  width: 320px;
  height: 180px;
  margin: 10px 15px;
}
@-webkit-keyframes create {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes create {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.photo-list {
  margin: 0 -25px 0 0;
  padding: 0;
  list-style: none;
}
.photo-list__item {
  float: left;
  width: 130px;
  height: 80px;
  overflow: hidden;
  margin: 5px;
  position: relative;
  -webkit-animation: create 0.1s;
  animation: create 0.1s;
  cursor: pointer;
}
.photo-list__item:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  font-size: 50px;
  text-align: center;
  font-family: 'icon-font';
  opacity: 0;
  transition: opacity 0.1s;
  content: '';
  line-height: 80px;
}
.photo-list__item.selected:after {
  opacity: 1;
  color: #4caf50;
  content: "\f023";
}
.photo-list__item:hover:after {
  opacity: 1;
  color: #4caf50;
  content: "\f0fb";
}
.photo-list__item.selected:hover:after {
  opacity: 1;
  color: #d32f2f;
  content: "\f102";
}
.photo-list__item img {
  width: 100%;
  vertical-align: top;
}
.photo-list_size_p .photo-list__item:after {
  line-height: 130px;
  font-size: 80px;
}
.photo-list_size_p .photo-list__item {
  width: 200px;
  height: 130px;
  margin: 7px 16px;
}
.photo-list_size_q .photo-list__item:after {
  line-height: 180px;
  font-size: 130px;
}
.photo-list_size_q .photo-list__item {
  width: 320px;
  height: 180px;
  margin: 10px 15px;
}
@-webkit-keyframes create {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes create {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.player:-webkit-full-screen canvas {
  width: 100%;
  max-height: 100%;
  vertical-align: top;
}


.player:-moz-full-screen canvas {
  width: 100%;
  max-height: 100%;
  vertical-align: top;
}


.player:-ms-fullscreen canvas {
  width: 100%;
  max-height: 100%;
  vertical-align: top;
}


.player:fullscreen canvas {
  width: 100%;
  max-height: 100%;
  vertical-align: top;
}

.controls {
  position: absolute;
  bottom: -34px;
  transition: bottom 0.1s;
  left: 0;
  right: 0;
  padding: 5px;
  height: 24px;
  background: rgba(0,0,0,0.7);
}
.player:hover .controls,
.player_rewind-started .controls {
  bottom: 0;
}
.player_no-activity:hover .controls {
  bottom: -34px;
}
.controls__progress {
  box-sizing: border-box;
  width: 100%;
  margin: 6px 0;
}
.controls__progress-holder {
  overflow: hidden;
  padding: 0 10px;
}
.controls_paused {
  bottom: 0;
}
.controls__volume {
  float: right;
  margin: 6px;
  width: 80px;
}
.controls__toggle {
  float: left;
  border: none;
  background: none;
  padding: 0;
  margin: 0 10px 0 0;
  width: 24px;
  height: 24px;
}
.controls__toggle:before {
  content: "\f0b9";
  display: block;
  font-size: 24px;
  color: #fff;
  font-family: 'icon-font';
}
.controls__toggle_pause:before {
  content: "\f0b6";
}
.controls__full-screen {
  float: right;
  border: none;
  background: none;
  padding: 0;
  margin: 0 0 0 10px;
  width: 24px;
  height: 24px;
}
.controls__full-screen:before {
  content: "\f29f";
  display: block;
  font-size: 24px;
  color: #fff;
  font-family: 'icon-font';
}
.controls__full-screen.active:before {
  content: "\f2a0";
}

.create-section {
  padding: 0 0 90px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.location-loading {
  padding: 100px 0 0;
  text-align: center;
  font-size: 30px;
}

@font-face {
  font-family: 'icon-font';
  src: url("../fonts/Material-Design-Iconic-Font.eot?v=1.0.1");
  src: url("../fonts/Material-Design-Iconic-Font.eot?#iefix&v=1.0.1") format('embedded-opentype'), url("../fonts/Material-Design-Iconic-Font.woff?v=1.0.1") format('woff'), url("../fonts/Material-Design-Iconic-Font.ttf?v=1.0.1") format('truetype'), url("../fonts/Material-Design-Iconic-Font.svg?v=1.0.1#Material-Design-Iconic-Font") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lobster';
  src: url("../fonts/Lobster_1.3-webfont.eot");
  src: url("../fonts/Lobster_1.3-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/Lobster_1.3-webfont.woff2") format('woff2'), url("../fonts/Lobster_1.3-webfont.woff") format('woff'), url("../fonts/Lobster_1.3-webfont.ttf") format('truetype'), url("../fonts/Lobster_1.3-webfont.svg#lobster_1.3regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  color: #212121;
  font: 14px/18px Tahoma, arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body,
html {
  height: 100%;
}
button,
input,
textarea,
a {
  outline: none;
}
button {
  cursor: pointer;
}
.main {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  overflow: auto;
}
.wrapper {
  padding: 0 20px;
}
.tac {
  text-align: center;
}
.section {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.section__content {
  position: absolute;
  width: 100%;
  top: 58px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.section__header {
  overflow: hidden;
  padding: 10px 5px 5px 30px;
  line-height: 40px;
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 2px;
  position: relative;
}
.section__header-controls {
  float: right;
  margin-left: 15px;
}
.section__title {
  font-weight: normal;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40px;
  margin: 0;
}
.button {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  background: #4caf50;
  padding: 0 20px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.1s ease, box-shadow 0.05s ease;
  border: none;
  margin: 0;
}
.button:hover {
  background: #388e3c;
}
.button:active {
  box-shadow: 0 2px 3px #000 inset;
}
.button_cancel {
  background: #727272;
}
.button_cancel:hover {
  background: #676767;
}
.form-row {
  overflow: hidden;
  margin-bottom: 10px;
}
.input {
  height: 30px;
  border: 1px solid #b6b6b6;
  line-height: 30px;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 0 5px 0 10px;
  box-sizing: border-box;
}
.input-holder {
  overflow: hidden;
}
.label {
  float: left;
  margin-right: 30px;
  font-size: 16px;
  line-height: 32px;
}
.form-btns {
  text-align: right;
  padding-top: 10px;
}
.form-btns .button {
  margin-left: 20px;
}
.column {
  float: left;
}
.two-columns {
  overflow: hidden;
  margin-bottom: 10px;
}
.two-columns .column {
  width: 48%;
}
.two-columns .column:first-child {
  margin-right: 4%;
}
.textarea {
  height: 30px;
  border: 1px solid #b6b6b6;
  line-height: 18px;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 6px 5px 6px 10px;
  box-sizing: border-box;
  resize: none;
  transition: height 0.1s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.textarea:focus {
  height: 150px;
  overflow: auto;
  text-overflow: clip;
  white-space: normal;
}
