@font-face {
  font-family: 'icon-font';
  src: url("../fonts/Material-Design-Iconic-Font.eot?v=1.0.1");
  src: url("../fonts/Material-Design-Iconic-Font.eot?#iefix&v=1.0.1") format('embedded-opentype'), url("../fonts/Material-Design-Iconic-Font.woff?v=1.0.1") format('woff'), url("../fonts/Material-Design-Iconic-Font.ttf?v=1.0.1") format('truetype'), url("../fonts/Material-Design-Iconic-Font.svg?v=1.0.1#Material-Design-Iconic-Font") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lobster';
  src: url("../fonts/Lobster_1.3-webfont.eot");
  src: url("../fonts/Lobster_1.3-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/Lobster_1.3-webfont.woff2") format('woff2'), url("../fonts/Lobster_1.3-webfont.woff") format('woff'), url("../fonts/Lobster_1.3-webfont.ttf") format('truetype'), url("../fonts/Lobster_1.3-webfont.svg#lobster_1.3regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  color: #212121;
  font: 14px/18px Tahoma, arial, sans-serif;
  user-select: none;
}
body,
html {
  height: 100%;
}
button,
input,
textarea,
a {
  outline: none;
}
button {
  cursor: pointer;
}
.main {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  overflow: auto;
}
.wrapper {
  padding: 0 20px;
}
.tac {
  text-align: center;
}
.section {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.section__content {
  position: absolute;
  width: 100%;
  top: 58px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.section__header {
  overflow: hidden;
  padding: 10px 5px 5px 30px;
  line-height: 40px;
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 2px;
  position: relative;
}
.section__header-controls {
  float: right;
  margin-left: 15px;
}
.section__title {
  font-weight: normal;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40px;
  margin: 0;
}
.button {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  background: #4caf50;
  padding: 0 20px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.1s ease, box-shadow 0.05s ease;
  border: none;
  margin: 0;
}
.button:hover {
  background: #388e3c;
}
.button:active {
  box-shadow: 0 2px 3px #000 inset;
}
.button_cancel {
  background: #727272;
}
.button_cancel:hover {
  background: #676767;
}
.form-row {
  overflow: hidden;
  margin-bottom: 10px;
}
.input {
  height: 30px;
  border: 1px solid #b6b6b6;
  line-height: 30px;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 0 5px 0 10px;
  box-sizing: border-box;
}
.input-holder {
  overflow: hidden;
}
.label {
  float: left;
  margin-right: 30px;
  font-size: 16px;
  line-height: 32px;
}
.form-btns {
  text-align: right;
  padding-top: 10px;
}
.form-btns .button {
  margin-left: 20px;
}
.column {
  float: left;
}
.two-columns {
  overflow: hidden;
  margin-bottom: 10px;
}
.two-columns .column {
  width: 48%;
}
.two-columns .column:first-child {
  margin-right: 4%;
}
.textarea {
  height: 30px;
  border: 1px solid #b6b6b6;
  line-height: 18px;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 6px 5px 6px 10px;
  box-sizing: border-box;
  resize: none;
  transition: height 0.1s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.textarea:focus {
  height: 150px;
  overflow: auto;
  text-overflow: clip;
  white-space: normal;
}
