@import 'variables';

.button {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    background: $primaryColor;
    padding: 0 20px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.1s ease, box-shadow 0.05s ease;
    border: none
    margin: 0

    &:hover {
        background: $darkPrimaryColor;
    }

    &:active {
        box-shadow: 0 2px 3px #000 inset;
    }
        
    &_cancel {
        background: $grayColor;
        &:hover {
            background: darken($grayColor, 10%)
        }
    }
}

.form-row {
    overflow: hidden;
    margin-bottom: 10px;
}

.input {
    height: 30px;
    border: 1px solid $dividerColor;
    line-height: 30px;
    font-size: 14px;
    width: 100%;
    margin: 0;
    padding: 0 5px 0 10px;
    box-sizing: border-box;

    &-holder {
        overflow: hidden;
    }
}

.label {
    float: left;
    margin-right: 30px;
    font-size: 16px;
    line-height: 32px;
}

.form-btns {
    text-align: right;
    padding-top: 10px;
    
    .button {
        margin-left: 20px;
    }
}

.column {
    float: left
}
.two-columns {
    overflow: hidden;
    margin-bottom: 10px;
    .column {
        width: 48%;
        &:first-child {
            margin-right: 4%;
        }
    }
}

.textarea {
    height: 30px;
    border: 1px solid $dividerColor;
    line-height: 18px;
    font-size: 14px;
    width: 100%;
    margin: 0;
    padding: 6px 5px 6px 10px;
    box-sizing: border-box;
    resize: none;
    transition: height 0.1s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis

    &:focus {
        height: 150px;
        overflow: auto;
        text-overflow: clip;
        white-space: normal;
    }
}