@import '../../stylus/variables';

.panel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $accentColor;
    height: 110px;
    padding: 0 100px 0 0;
}

.create-slideshow {
    position: absolute;
    right: 5px;
    top: 10px;
    height: 90px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &:before {
        content: "\f246";
        font-family: 'icon-font';
        font-size: 90px;
        color: $textPrimaryColor;
    }
}

.frame-list {
    margin: 0
    padding: 0
    list-style: none
    font-size: 0
    white-space: nowrap
    overflow: auto

    &__holder {
        overflow: hidden
        height: 90px
    }

    &__item {
        display: inline-block;
        vertical-align: top;
        width: 130px;
        height: 80px;
        overflow: hidden;
        margin: 5px;
        position: relative;
        animation: create 0.1s;
        cursor: pointer;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
            font-size: 50px;
            text-align: center;
            font-family: 'icon-font';
            opacity: 0;
            transition: opacity 0.1s;
            content: "\f102"
            color: $redColor;
            line-height: 80px;
        }

        &:hover:after {
            opacity: 1;
        }

        img {
            min-width: 100%;
            vertical-align: top;
            min-height: 100%;
        }
    }
}

@keyframes create {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.panel-audios {
    overflow: auto;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding: 5px 40px 5px 5px;
    }
    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__duration {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}