.panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #795548;
  height: 90px;
  padding: 0 45px 0 70px;
}
.panel__btns {
  position: absolute;
  z-index: 10;
  box-shadow: -1px 0 2px rgba(0,0,0,0.6);
  right: 0;
  top: 0;
  bottom: 0;
  width: 45px;
  background: rgba(0,0,0,0.5);
  text-align: center;
}
.panel__photo-count:before {
  content: "\f23e";
  font-family: "icon-font";
  font-size: 20px;
  float: right;
  margin-left: 5px;
}
.panel__duration:before {
  content: "\f11f";
  font-family: "icon-font";
  font-size: 20px;
  float: right;
  margin-left: 5px;
}
.panel__info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0,0,0,0.6);
  box-shadow: 1px 0 2px rgba(0,0,0,0.6);
  padding: 5px 2px 0 0;
  width: 68px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}
.panel__info-row {
  margin-bottom: 7px;
}
.create-slideshow {
  height: 45px;
  width: 45px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.create-slideshow:before {
  content: "\f246";
  font-family: 'icon-font';
  font-size: 45px;
  color: #fff;
}
.open-settings {
  height: 45px;
  width: 45px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.open-settings:before {
  content: "\f060";
  font-family: 'icon-font';
  font-size: 35px;
  color: #fff;
}
