<section class="dialog" ng-controller="SlideshowSavedController">
    <header class="dialog__header">
        <h2 class="dialog__title">Слайдшоу сохранено</h2>
        <button class="dialog__close" ng-click="dialogService.close()"></button>
    </header>
    <main class="dialog__content">
        <a href="{{URLS.app + '#/slideshow/' + dialogService.data.slideshow.id}}">Ссылка на слайдшоу</a>
        <br/>
        <a href ng-click="share(dialogService.data.slideshow)">Опубликовать</a>
    </main>
</section>