<section class="audio-selector section" ng-controller="AudiosController">
    <header class="section__header">
        <input type="text" ng-model="search" class="audio-selector__filter"/>
        <h2 class="section__title">Choice audio</h2>
    </header>
    <ul class="audio-list">
        <li class="audio-list__item" ng-repeat="audio in audios | filter:search track by audio.id" title="{{audio.artist + '-' + audio.title}}" ng-click="toggleAudio(audio)">
            <span class="audio-list__duration">{{audio.duration | timeFormatter}}</span>
            <span class="audio-list__name">{{audio.artist + ' - ' + audio.title}}</span>
        </li>
    </ul>
</section>