.player:fullscreen {
  width: 100%;
  height: 100%;
  background: #000;
  text-align: center;
}
.player:fullscreen canvas {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
.player {
  background: #000;
  position: relative;
  overflow: hidden;
}
.player canvas {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.player_no-activity {
  cursor: none;
}
.player__load-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background: #4b50ff;
  height: 3px;
  opacity: 1;
  transition: width 0.2s ease-out, opacity 0.2s ease-out;
}
.player_loaded .player__load-progress {
  opacity: 0;
}
