.player:fullscreen {
    width: 100%;
    background: black;
    text-align: center;
}

.player {
    background: black;
    position: relative;
    overflow: hidden;

    canvas {
        width: 100%;
        height: auto;
        vertical-align: top;
    }
}