.header {
  background: #795548;
  height: 50px;
  padding: 0 0 0 25px;
  margin-bottom: 10px;
}
.header__user {
  float: right;
  padding: 13px 20px;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
}
.logo {
  color: #fff;
  font: 34px/50px 'Lobster', cursive;
  text-decoration: none;
  letter-spacing: 2px;
  float: left;
  margin-right: 50px;
  text-shadow: 1px 1px 1px #000;
}
