@import '../../stylus/variables';

.header {
    background: $accentColor;
    height: $headerHeight;
    padding: 0 0 0 25px;
    margin-bottom: 10px;
}

.logo {
    color: white;
    font: 34px/50px 'Lobster', cursive;
    text-decoration: none;
    letter-spacing: 2px;
    float: left;
    margin-right: 50px;
    text-shadow: 1px 1px 1px black;
}