.controls {
    position: absolute;
    bottom: -34px;
    transition: bottom 0.1s;
    left: 0;
    right: 0;
    padding: 5px;
    height: 24px;
    background: rgba(0,0,0,0.7);

    .player:hover &,
    .player_rewind-started & {
        bottom: 0;
    }

    .player_no-activity:hover & {
        bottom: -34px;
    }

    &__progress {
        box-sizing: border-box;
        width: 100%;
        margin: 6px 0;

        &-holder {
            overflow: hidden;
            padding: 0 10px;
        }
    }

    &_paused {
        bottom: 0;
    }
        
    &__volume {
        float: right;
        margin: 6px;
        width: 80px;
    }

    &__toggle {
        float: left;
        border: none;
        background: none;
        padding: 0;
        margin: 0 10px 0 0;
        width: 24px;
        height: 24px;
        
        &:before {
            content: "\f0b9";
            display: block;
            font-size: 24px;
            color: white;
            font-family: 'icon-font';
        }
            
        &_pause:before {
            content: "\f0b6";
        }

        &[disabled] {
            opacity: 0.5;
        }
    }

    &__full-screen {
        float: right;
        border: none;
        background: none;
        padding: 0;
        margin: 0 0 0 10px;
        width: 24px;
        height: 24px;

        &:before {
            content: "\f29f";
            display: block;
            font-size: 24px;
            color: white;
            font-family: 'icon-font';
        }

        &.active:before {
            content: "\f2a0";
        }
    }
}